.header {
  text-align: center;
  margin-top: 72px;
}

.employeeButton {
  margin-top: 14px;
}

.or {
  position: relative;
  display: block;
  margin-top: 14px;
  color:rgba(49, 49, 49, 0.5);

  &::after {
    content: '';
    width: 120px;
    height: 1px;
    position: absolute;
    right: -10px;
    top: 55%;
    background-color: rgba($color: #313131, $alpha: 0.3);
    transform: translate(100%, 50%);
  }

  &::before {
    content: '';
    width: 120px;
    height: 1px;
    background-color: rgba($color: #313131, $alpha: 0.3);
    position: absolute;
    left: -10px;
    top: 55%;
    transform: translate(-100%, 50%);
  }
}

.choices {
  margin-top: 84px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
