$primaryColor: #F96060;
$secondaryColor: #313131;
$color-2: #9B9B9B;
$color-3: #EDEDED;
$color-4: #6074F9;
$color-error: #F96060;

@mixin min_2600px {
  @media (min-width: 2600px) {
    @content;
  }
}

@mixin min_1920px {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin min_1366px {
  @media (min-width: 1366px) {
    @content;
  }
}

@mixin min_1024px {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin min_768px {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin min_660px {
  @media (min-width: 660px) {
    @content;
  }
}

@mixin min_375px {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin min_325px {
  @media (min-width: 325px) {
    @content;
  }
}

@mixin customBreakpoint($maxWidth) {
  @media (min-width: #{$maxWidth}) {
    @content;
  }
}
