.pickRole {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  text-align: center;
  margin-top: 72px;
}

.employeeButton {
  margin-top: 14px;
}

.or {
  position: relative;
  display: block;
  margin-top: 14px;
  color: rgb(49 49 49 / 50%);

  &::after {
    content: "";
    width: calc(50vw - 41px);
    height: 1px;
    position: absolute;
    right: -10px;
    top: 55%;
    background-color: rgb($color: #313131, $alpha: 30%);
    transform: translate(100%, 50%);
  }

  &::before {
    content: "";
    width: calc(50vw - 41px);
    height: 1px;
    background-color: rgb($color: #313131, $alpha: 30%);
    position: absolute;
    left: -10px;
    top: 55%;
    transform: translate(-100%, 50%);
  }
}

.choices {
  width: 100%;
  margin-top: 84px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
