.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  margin-top: 48px;
}

.boxInput {
  width: 53px;
  height: 53px;
  border: 1px solid $color-3; 
  border-radius: 5px;
  font-size: 18px;
  color: $secondaryColor;
  transition: box-shadow ease-in .2s;

  &:focus {
    box-shadow: 0px 0px 4px $color-4;
    border-color: $color-4;
  }
}

.resendCode {
  margin-top: auto;
}

.continue {
  margin-top: 35px;
}
