.textField {
  display: block;
  width: 100%;

  @include min-660px {
    width: 280px;
  }
}

.inputWrapper {
  height: 48px;
  color: $secondaryColor;
  border: 1px solid $color-3;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 11px 0 17px;
  transition: border-color 0.05s linear, box-shadow 0.05s linear;
  margin-top: 3px;
}

.focused {
  box-shadow: 0 0 4px $color-4;
  border-color: $color-4;
}

.error {
  box-shadow: 0 0 4px $color-error;
  border-color: $color-error;
}

.input {
  border: none;
  width: 92%;
  font-size: 0.875rem;
}

.label {
  font-size: 1.125rem;
  line-height: 21px;
  font-weight: 500;
  display: block;
}

.errorIcon {
  font-size: 18px;
  color: $color-error;
  padding: 3px;
  box-sizing: content-box;
}

.errorMessage {
  color: $color-error;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 18px;
  margin-top: 6px;
  display: block;
}

.watchPasswordIcon {
  font-size: 16px;
  padding: 3px;
  box-sizing: content-box;

  &.watchPasswordActive {
    opacity: 50%;
  }
}

.fullWidth {
  width: 100%;

  @include min-660px {
    width: 100%;
  }
}

.disabled {
  color: rgb(0 0 0 / 26%);
  border-color: rgb(0 0 0 / 12%);
  pointer-events: none;

  .input {
    color: rgb(0 0 0 / 26%);
  }
}
